<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] %c{1} - %msg%n</Property>
        <Property name="LOG_FILE_NAME">messaging-app</Property>
        <Property name="LOG_DIR">./logs</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- File Appender -->
        <RollingFile name="File" fileName="${LOG_DIR}/${LOG_FILE_NAME}.log"
                     filePattern="${LOG_DIR}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- Kafka Appender (requires spring-kafka and log4j-kafka appender dependency) -->
        <!-- This is a placeholder configuration. Real values are needed in application.properties -->
        <Kafka name="Kafka" topic="app-logs-json">
            <PatternLayout pattern="%m" /> <!-- %m sends the raw message, which will be our JSON string -->
            <Property name="bootstrap.servers">${sys:kafka.bootstrap.servers}</Property>
        </Kafka>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>

        <Logger name="com.example.messagingapp" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <!-- Logger specifically for sending structured JSON events to Kafka -->
        <Logger name="KAFKA_JSON_APPENDER" level="info" additivity="false">
            <AppenderRef ref="Kafka"/>
        </Logger>
    </Loggers>
</Configuration>